@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_LayoutDetailed.cshtml";
}


    <!--// End Team 2-1 --><!-- Start Contact 1 -->
<section class="content-block contact-1">
    <div class="container text-center">

        <div class="col-sm-10 col-sm-offset-1">

            <div class="underlined-title">
                <div class="editContent">
                    <h1>Get in Touch</h1>
                </div>
                <hr>
                <div class="editContent">
                    <h2>We'd love to hear from you. Get in touch today!</h2>
                </div>
            </div>
        <!--
            <div class="editContent">
                <p>Cras mattis consectetur purus sit amet fermentum. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam porta sem malesuada magna mollis euismod. Nulla vitae elit libero, a pharetra augue. Aenean eu leo quam. Pellentesque ornare sem lacinia.</p>
            </div>
            -->
            <div class="editContent">
                <ul class="contact-info">
                    <li><span class="fa fa-map-marker"></span>14A Shirley Avenue, Papakura 2110, Auckland, New Zealand</li>
                    <li><span class="fa fa-envelope"></span><a href="mailto:hello@outloud.digital">hello@outloud.digital</a> </li>
                </ul>
            </div>
        


        </div><!-- /.col-sm-10 -->

    </div><!-- /.container -->
</section><!-- /.content-block -->
<!--// END Contact 1 --><!-- Start Footer 1-1 -->
